<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @langual_factor.description %>
</p>

<%= link_to 'Edit', edit_langual_factor_path(@langual_factor) %> |
<%= link_to 'Back', langual_factors_path %>
